#ever{
    color: red;
    font-weight: bold
}

#byu{
    color: blue;
}

#answer{
    font-style: oblique
}

#paragraph{
    font-family: "Arial Black", Gadget, sans-serif
}

#buddha{
    height: 200px
}